{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Data Types</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse position-absolute end-0 me-5" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Data Types
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/summary">Summary</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/integer">Integer</a></li>
                        <li><a class="dropdown-item" href="/float">Float</a></li>
                        <li><a class="dropdown-item" href="/boolean">Boolean</a></li>
                        <li><a class="dropdown-item" href="/string">String</a></li>
                        <li><a class="dropdown-item" href="/list">List</a></li>
                        <li><a class="dropdown-item" href="/dictionary">Dictionary</a></li>
                        <li><a class="dropdown-item" href="/tuple">Tuple</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>

<div class="text-light bg-success">
    <div class="container">
        <h1>Home</h1>
    </div>
</div>

<div class="container">
    <div class="mb-5">
        <h3>Purpose</h3>
        <hr style="border-top: 3px solid #bbb">
        <p>This site details info about some basic data types in Python like integers and lists. It also wants to inform about the difference between "passing by value" and "passing by reference" as different data types behave differently, as when you're not expecting it, it can make your code behave in a weird manner.</p>
    </div>

    <div class="mb-5">
        <h3>Passing by value</h3>
        <hr style="border-top: 3px solid #bbb">
        <p>When we pass a variable through a function, the function will make a new spot in memory and hold the value of the variable that was passed on there, effectively making a <b>copy</b> of the original variable, this means that any changes made to the variable in the function <b>will not affect</b> the original one.</p>
    </div>

    <div class="mb-5">
        <h3>Passing by reference</h3>
        <hr style="border-top: 3px solid #bbb">
        <p>When we pass a variable through a function, the function will receive the location in memory of the variable, this we call a "reference". Because the function receives the same memory spot that the variable looks at, it means that any changes we make to that variable in the function <b>will affect</b> the original variable as well.</p>
    </div>

    <div class="mb-5">
        <h3>Data types</h3>
        <hr style="border-top: 3px solid #bbb">
        {% for dt in data_types %}
            <div class="text-light mb-2" style="background-color: #313131; border-radius: 10px">
                <h5 class="p-3">{{ dt["name"] }}</h5>
                <hr class="m-0" style="border-top: 3px solid #bbb">
                <p class="p-3">{{ dt["summary"] }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}